
html {
    font-family: 'Roboto', sans-serif;
    background-color: #ddd;
    color: #222;
}

ul, ol {
    list-style-position: inside;
    padding-inline-start: 0px;
}

h1 {
    text-align: center;
    margin: 0px auto;
    font-size: 3rem;
    font-weight: bolder;
}

p {
    display: inline-block;
    max-width: 50%;
}

.header img {
    height: 60px;
    width: auto;
    filter: grayscale(100%)
}

.recipe-img {
    border: 3px solid #333;
    box-shadow: 2px 2px 4px 1px #888;
}

.ingredients {
    display: inline-block;
    text-align: left;   
}

.steps {
    display: inline-block;
    max-width: 50%;
}

.steps li {
    display: block;
    background-color: #ccc;
    padding: 10px;
    margin-bottom: 1rem;
}

div.container {
    text-align: center;
}

.left-align {
    display: inline-block;
    text-align: left;
}

a {
    text-decoration: none;
    color:#333;
}

div.main-container {
    margin: 8rem auto 0 auto;
    border-radius: 10px;
    max-width: 400px;
    padding: 100px;
    background-color: #bbb;
    box-shadow: 5px 5px 6px 1px #888;
}

.main-list li {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    list-style: none;
    margin: 2em auto;
}

.main-list a {
    padding: 10px;
}

.main-list a:hover {
    transition: 0.3s;
    background-color: #333;
    color: white;
}

.recipe-container {
    text-align: center;
}

.recipe-container h1 {
    text-shadow: 2px 2px 3px #888;
    margin: 4.5rem auto 1.5rem;
}

.recipe-container h2 {
    display: block;
    text-align: center;
    background-color: #333;
    border-radius: 15px;
    margin-inline: auto;
    margin-top: 1rem;
    max-width: 600px;
    color: white;
    padding: 10px;
    box-shadow: 2px 2px 4px 1px #888;
}

.recipe-container h3 {
    font-size: 1.5rem;
}

.recipe-container p {
    text-align: justify;
}

.recipe-container li, p {
    font-size: 1.20rem;
}

.back {
    position: absolute;
    top: 20px;
    margin-left: 220px;
    padding: 15px;
    background-color: #333;
    color: #fff;
    border-radius: 100px;
    font-size: 1.25rem;
    font-weight: 600;
}