
html {
    font-family: 'Roboto', sans-serif;
    background-color: #ddd;
    color: #333;
}

body {
    text-align: center;
}

ul, ol {
    list-style-position: inside;
    padding-inline-start: 0px;
}

h1 {
    text-align: center;
    margin: 0px auto;
    font-size: 2.5rem;
}

p {
    display: inline-block;
    max-width: 50%;
}

.header img {
    height: 80px;
    width: auto;
    filter: grayscale(100%)
}

.recipe-img {
    border: 3px solid #333;
}

.ingredients {
    display: inline-block;
    text-align: left;   
}

.steps {
    display: inline-block;
    max-width: 50%;
}

.steps li {
    display: block;
    background-color: #ccc;
    padding: 10px;
    margin-bottom: 1rem;
}

div.container {
    text-align: center;
}

.left-align {
    display: inline-block;
    text-align: left;
}

a {
    text-decoration: none;
    color:#333;
}

div.main-container {
    margin: 8rem auto 0 auto;
    border-radius: 10px;
    max-width: 400px;
    padding: 100px;
    background-color: #bbb;
    box-shadow: 5px 5px 6px 1px #888;
}

.main-list li {
    list-style: none;
    margin: 2em auto;
}

.main-list a {
    padding: 10px;
}

.main-list a:hover {
    transition: 0.3s;
    background-color: #333;
    color: white;
}

.back-button {
    text-decoration: none;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 100px;
}